
.start-screen-1{
    width:100vw;
    height:100vh;
    background-repeat: no-repeat,no-repeat;
    background-size:contain;
    background-image: url("./assets/top-1.png"), url("./assets/bottom-1.png");
    background-position: top right , bottom right;
    background-color: #c6efc8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.image-container{
    width:25rem;
    height:25rem; 
    background-image: url("./assets/wheel1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.start-screen-content{
    width:25rem; 
}

.start-screen-heading{
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    margin:0;
}

.coupon-code{
    display: flex;
    align-items:center;
    width:100%;
    justify-content: space-between;
    background-color: rgba(20, 20, 20, 0.2);
    position:relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.coupon-code p{
    font-size:2rem;
    font-weight: 700;
    color:white;
    padding-left:1.5rem;
}

.coupon-code button{
    font-size: 1.5rem;
    font-weight: 700;
    color:white;
    background-color: #146531;
    border:none;
    height:100%;
    cursor: pointer;
    position: absolute;
    right:0;
    padding:1.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.result-text{
    font-size:2.5rem;
    font-weight: 700;
    margin:0;
}


.green-btn{
    background-color: #146531;
    padding:20px;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    border-radius: 50px;
    width: 100%;
    cursor: pointer;
    margin-top:20px;
    border:none;
}

.conditions{
    font-size: 10px;
    width: 100%;
    font-style: italic;
    color:#146531;
    font-weight: 700;
}

@media (max-width:900px) {

    html{
        font-size: 90%;
    }
    
}

@media (max-width:750px) {

    html{
        font-size: 80%;
    }
    .container{
        position: relative;
    }
    .start-screen{
        background-image: url("./assets/top-2.png"),url("./assets/bottom-2.png");
    }
    .start-screen-content{
        position: absolute;
        right:15%;
    }
    .image-container{
        position: absolute;
        left:-150px;
    }
}

@media (max-width:550px) {

    html{
        font-size: 65%;
    }
    .container{
        width:80vw;
        justify-content: center;
        
    }
    
    .start-screen-content{
        position: block;
        width:100%;
    }
    .image-container{
        top:-12.5rem;
        left:auto;
    }
    .start-screen-content{
        right:auto;
        margin-bottom:3rem;
        margin-top:15rem;
    }
    .start-screen-heading{
        text-align: center;

    }
}